<li class="dropdown">
    <ul class="dropdown-menu extended notification">
        <li class="title">
            <p id="TextStatusService"></p>
        </li>
    </ul>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i id="StatusService" class="icon-cog icon-spin"></i>
        <span class="badge"></span>
    </a>
</li>
